body {
  background-color: rgb(14, 13, 13);
  color: rgb(17, 16, 16);
}

.parent-container {
  display: grid;
  grid-template-columns: 40% auto;
  max-width: 1600px;
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.image-container {
  display: grid;
  place-items: center;
  width: 60vw;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  background-color: rgba(33, 39, 70, 0.87);
  color: white; 
  font-weight: 700;
  font-size: 20px;
  padding-left: 15px;
  position: relative;
  z-index: 100;
}

.dummy-text {
  position: absolute;
  top: 50px;
  font-family: sans-serif;
  font-size: 20px;
  padding-right: 10px;
}

.company-message {
  position: absolute;
  top: 140px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  width: 800px;
}

.form-content {
  position: absolute;
  top: 330px; 
}

.user-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: sans-serif;
  font-weight: 500;
  font-size: 20px;
  align-self: center;
  padding: 1px;
}

.account-footer {
  position: absolute;
  top: 720px;
}

input {
  font-family: sans-serif;
  font-size: 17px;
  border: 2px rgb(27, 27, 27); 
  height: 25px; 
  width: 240px;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0)
}

button {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: 2px gray;
  height: 40px;
  width: 200px;
  padding: 2px;
  background-color: rgb(175, 171, 166);
  color: white;
  cursor: pointer;
}

.sign-up-message {
  font-size: 22px;
}

fieldset {
  padding: 40px;
}

.image-container {
  position: relative;
}

.image1 {
  z-index: 1;
}

.image2 {
  z-index: 2;
  position: absolute;
  width: 62%;
  top: 25px; 
  left: 10px;
  opacity: 0.4;
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

