body {
  background-color: rgb(14, 13, 13);
  color: rgb(17, 16, 16);
}

.parent-container {
  display: grid;
  grid-template-columns: 40% auto;
  max-width: 1600px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: grid;
  place-items: center;
  width: 60vw;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  background-color: rgba(2, 26, 134, 0.87);
  color: white; 
  font-weight: 700;
  font-size: 20px;
  padding-left: 15px;
  position: relative;

}

.dummy-text {
  position: absolute;
  top: 100px;
  font-size: 20px;
  padding-right: 10px;
}

.form-content {
  position: absolute;
  top: 300px; 
}

.user-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: sans-serif;
  font-weight: 500;
  font-size: 20px;
  align-self: center;
  padding: 1px;
}

.account-footer {
  position: absolute;
  top: 720px;
}

input {
  font-family: sans-serif;
  font-size: 20px;
  border: 2px rgb(27, 27, 27); 
  height: 25px; 
  width: 225px;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0)
}

button {
  font-family: arial;
  border: 2px gray;
  height: 30px;
  width: 180px;
  padding: 2px;
  background-color: rgb(175, 171, 166);
  color: white;
}

.sign-up-message {
  position: relative; 
  top: -50px;
  font-size: 28px;
}